@import url(../libs/bootstrap/css/bootstrap.min.css);
@import url(../libs/fontawesome/css/all.min.css);
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #0d0d0d;
}

.container-fluid {
  padding: 0;
}

@import "../scss/adaptive-value";
@import "../scss/variables";
@import "../scss/header";
@import "../scss/home";
@import "../scss/about";
@import "../scss/skills";
@import "../scss/quote";
@import "../scss/works";
@import "../scss/team";
@import "../scss/contacts";
@import "../scss/footer";