$orange: #f39c12;
$grey: #737373;

$red: rgb(194, 54, 22);

@mixin btn($wd, $hg, $bg) {
  display: block;
  width: $wd;
  height: $hg;
  line-height: $hg;
  background: $bg;
  color: #fff;
  border: none;
  padding: 0;
  text-align: center;
  margin: 0;

  &:focus {
    outline: none;
  }
}
@mixin ellipse {
  content: "";
  position: absolute;
  border: 2px solid $orange;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin heading {
  display: flex;
  text-transform: uppercase;
  max-width: 1041px;
  margin: 0 auto 150px;

  .title {
    font-weight: 600;
    font-size: 30px;
    margin-right: 40px;
  }

  .descr {
    position: relative;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 46px;
      top: 0;
      left: -23px;
      background: $orange;
    }
  }
}
